.sidebar {
    padding: 20px;
    color: #fff;
    overflow-y: auto;
}

.left-sidebar {
    grid-area: left-sidebar;
    background-color: #5A667B;
    border-right: 1px solid #ccc;
    text-align: center;
}

.right-sidebar {
    grid-area: right-sidebar;
    background-color: #5A667B;
    border-left: 1px solid #ccc;
    text-align: center;
}

.game-modes {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.game-modes li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000;
    background-color: #EF223C;
    text-align:center;
}

.faded {
    opacity: 0.5;
}

.account-info {
    margin-top: 20px;
}

.user-info {
    margin-top: 20px;
}

.messages,
.friends-online {
    margin-top: 20px;
}